    <div class="container">
        <div class="row">
           <div class="col p-3"><a href="/Admin/ProductControl"><h3>Product</h3></a></div>
           <div class="col p-3"><a href="/Admin/SalesPointControl"><h3>SalesPoint</h3></a></div>
           <div class="col p-3"><a href="/Admin/BuyerControl"><h3>Buyer</h3></a></div>
           <div class="col p-3"><a href="/Admin/SaleControl"><h3>Sale</h3></a></div>
        </div>
    </div>
    <div class="container">
        <h2>Список продуктов для добавления в точку продаж</h2>
    
        <table class="table table-condensed table-striped table-bordered">
            <thead><tr><th>Название</th><th>Цена</th><th>Количество</th><th></th></tr></thead>
                <tbody>
                </tbody>
         </table>
    
    </div>
    
    <script src="~/js/ProvidedProductCRUD.js"></script>
