@{
   
}


<div class="container">
    <h1>Магазин продуктов</h1>
    <h2>Список продуктов</h2>
    
    <table class="table table-condensed table-striped table-bordered">
        <thead><tr><th>Название</th><th>Цена</th><th>Сумма</th><th>Точка продажи <select></select></th><th>Количество</th><th></th></tr></thead>
        <tbody>
        </tbody>
    </table>
    
    </div>
    
    <script src="~/js/Index.js"></script>